*{

    list-style: none;
}
.footer{
    margin-top: 160px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 6rem;
    padding-right: 6rem;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.6) ) ,
        url('../../images/footer-bg.jpg');
    height: 400px;
    align-items: center;
    
}

.socialmedia h3, .linksPrivacy h3{
    color: white;
}

.socialmedia li, .linksPrivacy li{
    color: white;
    line-height: 50px;
}

@media(max-width:450px){
    .footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


   